{{outlet}}

<div class="about"></div>
<h2>About Plot-it-Out</h2>
<p>
  Gardening is hard. But it doesn't have to be! Plot-it-Out will help to relieve confusion surrounding organic gardening; such as companion planting, soil health, plant needs and will even provide helpful tips. <br>
  It also features interactivity that allows users to create their own garden plot based on characteristics of their real life garden plot, such as soil type, hardiness-zone and plant preferences.<br>
  Users can also save all plots to their own garden, and share their plots with their friends!!<br>
  Have fun, and happy gardening!
</p>
{{#link-to 'contact' class="button"}}
   Contact Us!
 {{/link-to}}
