{{outlet}}

<div class="footer">
  <div class="contact"></div>
  <h2>Contact Us</h2>
  <p>At Plot-it-out, we are here for you and would love to help you</p>
  <p>

    <a href="mcarson1111@gmail.com">plot-it-out@gmail.com</a>
  </p>
  {{#link-to 'about' class="button"}}
    About
  {{/link-to}}
</div>
