{{outlet}}
<!-- {{input type="checkbox" name="isAdmin" checked=isAdmin}} -->

<!-- <form class="checkbox" {{action "findFlowers" on="submit"}}> -->
<!-- findFlowers is in the _________ controller.... what gets rendered after flowers are found? the actual plot page. -->

<!-- </form> -->
