{{outlet}}
<!-- {{input type="checkbox" name="isAdmin" checked=isAdmin}} -->

<!-- <form class="checkbox" {{action "findHerbs" on="submit"}}> -->
<!-- findFruits is in the herbs controller -->

<!-- </form> -->
