{{outlet}}
<!-- {{input type="checkbox" name="isAdmin" checked=isAdmin}} -->

<!-- <form class="checkbox" {{action "findHerbs" on="submit"}}> -->
<!-- findHerb is in the flowers controller -->

<!-- </form> -->
